@import "../../assets/sass/ts-base.scss";

.ts-youtube {
  background-color: #fff;
  border: 1px solid #dedede;
  cursor: pointer;
  flex: 0 0 auto;
  height: 280px;
  margin: 0 16px 24px 0;
  overflow: hidden;
  padding: 0;
  // padding-top: 56.25%;
  position: relative;
  transition: all 0.3s;
  width: 400px;
  &:hover {
    @include ts-elevation-03;
    transition: all 0.3s;
  }

  img {
    height: 224px;
    width: 100%;
    // opacity: 0.7;
    object-fit: cover;
    // position: absolute;
  }

  .play-button {
    background-color: #333;
    border-radius: 6px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    height: 60px;
    left: 40%;
    opacity: 0.7;
    position: absolute;
    width: 90px;
    z-index: 1;
    transition: all 0.3s;
    top: 35%;

    &:hover {
      opacity: 1;
      transform: scale(1.05);
      transition: all 0.3s;
    }

    &:before {
      content: "";
      border-style: solid;
      border-width: 15px 0 15px 26px;
      border-color: transparent transparent transparent #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }
  }
  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .meta {
    color: #666;
    margin-bottom: 0;
    position: absolute;
    top: 224px;
    left: 8px;
    width: 382px;
  }
  .heading {
    color: #333;
    display: block;
    font-size: 1.4rem;
    font-weight: 700;
    margin-right: 1rem;
  }
  .level {
    display: inline-block;
    margin-left: 24px;
    position: absolute;
    right: 0px;
    top: 0px;
  }
}
