.ts-video {
  border: 1px solid #dedede;
  flex: 0 0 auto;
  margin: 0 16px 24px 0;
  padding: 0;
  width: 400px;
  height: 280px;
  position: relative;
}
.meta {
  color: #666;
  margin-bottom: 0;
  position: absolute;
  top: 224px;
  left: 8px;
  width: 382px;
}
.heading {
  color: #333;
  display: block;
  font-size: 1.4rem;
  font-weight: 700;
  margin-right: 1rem;
}
.level {
  display: inline-block;
  margin-left: 24px;
  position: absolute;
  right: 0px;
  top: 0px;
}
