html {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.4rem;
  margin: 0;
  padding: 116px 40px 40px 40px;
}
.header {
  height: 80px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 200%;
}
.header div {
  background-image: url("../img/pattern-group@2x.png");
  background-size: 80px;
  height: 30px;
}
.header img {
  width: 200px;
  left: 40px;
  position: absolute;
  top: 38px;
}
.container {
  display: flex;
  flex-wrap: nowrap;
}
.card {
  border: 1px solid #dedede;
  flex: 0 0 auto;
  margin: 0 16px 24px 0;
  padding: 0;
  width: 400px;
  height: 280px;
  position: relative;
}
iframe {
  position: absolute;
  top: 0;
  left: 0;
}
