// ----------------------------------------------------------------------------
// Elevations
// ----------------------------------------------------------------------------

@mixin ts-elevation-01 {
  -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 6px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 6px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0 2px 6px 0;
}
@mixin ts-elevation-02 {
  -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 3px 10px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 3px 10px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0 3px 10px 0;
}
@mixin ts-elevation-03 {
  -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 5px 16px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 5px 16px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0 5px 16px 0;
}
@mixin ts-elevation-04 {
  -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 12px 32px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 12px 32px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0 12px 32px 0;
}
@mixin ts-elevation-05 {
  -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 16px 48px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 16px 48px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0 16px 48px 0;
}
