.ts-youtube {
  border: 1px solid #dedede;
  flex: 0 0 auto;
  margin: 0 16px 24px 0;
  padding: 0;
  width: 400px;
  height: 280px;
  position: relative;
}
.ts-youtube {
  background-color: #000;
  margin-bottom: 30px;
  position: relative;
  /* padding-top: 56.25%; */
  overflow: hidden;
  cursor: pointer;
  width: 400px;
  height: 224px;
}
.ts-youtube img {
  width: 100%;
  top: -16.84%;
  left: 0;
  opacity: 0.7;
}
.ts-youtube .play-button {
  width: 90px;
  height: 60px;
  background-color: #333;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
  z-index: 1;
  opacity: 0.8;
  border-radius: 6px;
}
.ts-youtube .play-button:before {
  content: "";
  border-style: solid;
  border-width: 15px 0 15px 26px;
  border-color: transparent transparent transparent #fff;
}
.ts-youtube img,
.ts-youtube .play-button {
  cursor: pointer;
}
.ts-youtube img,
.ts-youtube iframe,
.ts-youtube .play-button,
.ts-youtube .play-button:before {
  position: absolute;
}
.ts-youtube .play-button,
.ts-youtube .play-button:before {
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.ts-youtube iframe {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
